.layout {
  .layout-header {
    position: fixed;
    z-index: 101;
    width: 100%;
  }

  .site-layout {
    flex: 1;
    margin-top: 36px;
  }

  :global {
    .ant-layout-header {
      height: 36px;
      line-height: 36px;
      background: #4456a7;
    }
    .ant-layout {
      min-height: 100vh;
    }
  }
}
